<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Hi, my name is David! I graduated from CU Boulder May 2022 with degrees in Applied Math and Computer Science.
  <br>
  <br>
  Welcome to my site!
</p>