<% if logged_in? %>
  <div class="row">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="shift_form">
        <%= render 'shared/shift_form' %>
      </section>
      <div class="col-md-8">
      <h3>Posts Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<h1>Twitter Clone</h1>
  <p>
    This is the home page for David's sample app that is a Twitter clone. It was created using Ruby on Rails. <br>
    <br>
    <br>
    <a href="https://www.linkedin.com/in/david-zhao-406247174">David's LinkedIn</a>
  </p>
<% end %>

