Currently viewing posts for <%= @user.name %> <br>

<% if @user.shifts.any? %>
    <h3>Shifts (<%= @user.shifts.count %>)</h3>
    <ol class="shifts">
    <%= render @user.shifts %>
    </ol>
<%else %>
<%= @user.name %> has no posts assigned to them yet
<% end %>